<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title> my first angular application </title>
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
    <script type="text/javascript" src="js/angular-resource.js"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <!--<div class="row">-->
        <!--<div ng-app="myApp" ng-init="" ng-controller="test">-->
            <!--<div class="col-md-12">-->

                <!--&lt;!&ndash;<p>Enter a number: <input type="number" ng-model="number" />&ndash;&gt;-->
                    <!--&lt;!&ndash;<button ng-click="square()">X<sup>2</sup></button>&ndash;&gt;-->
                <!--&lt;!&ndash;<p> Result: {{result}} </p>&ndash;&gt;-->
                <!--&lt;!&ndash;<input type="checkbox" ng-model="showHide1">Show Button&ndash;&gt;-->
                <!--&lt;!&ndash;<button ng-show="!showHide1">Click Me!</button>&ndash;&gt;-->
                <!--&lt;!&ndash;<div nilay>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="directive"></div>&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="col-md-3">&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="logo">&ndash;&gt;-->
                        <!--&lt;!&ndash;<img src="{{ logo.src }}" alt="{{ logo.title | uppercase }}"/>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="clearfix"></div>&ndash;&gt;-->
                <!--&lt;!&ndash;<div> {{ firstname + ' ' + lastname   }}</div>&ndash;&gt;-->
                <!--&lt;!&ndash;<p>Name: <input id="name" type="text" class="" ng-model="nilay" placeholder=" Type something here " value=""></p>&ndash;&gt;-->
                <!--&lt;!&ndash;<p>Full Name: {{ nilay }}</p>&ndash;&gt;-->
                <!--&lt;!&ndash;<ol>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li ng-repeat="country in name | filter:nilay">&ndash;&gt;-->
                        <!--&lt;!&ndash;{{ country.name }}&ndash;&gt;-->
                    <!--&lt;!&ndash;</li>&ndash;&gt;-->
                <!--&lt;!&ndash;</ol>&ndash;&gt;-->
            <!--</div>-->

            <!--&lt;!&ndash;<div class="json-data">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="col-md-3" ng-repeat=" x in names" ng-if="" >&ndash;&gt;-->
                    <!--&lt;!&ndash;<button class="btn btn-danger"> {{ x }} </button>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;<button class="btn btn-danger" ng-disabled = 'mySwitch'> this is disable button </button>&ndash;&gt;-->
            <!--&lt;!&ndash;<p>&ndash;&gt;-->
                <!--&lt;!&ndash;<input type="checkbox" id="checkbox" ng-model="mySwitch">Button&ndash;&gt;-->
            <!--&lt;!&ndash;</p>&ndash;&gt;-->
            <!--&lt;!&ndash;<p ng-show="test">I am visible.</p>&ndash;&gt;-->
            <!--&lt;!&ndash;<p ng-show="!test"> &nbsp; </p>&ndash;&gt;-->
            <!--&lt;!&ndash;<input type="checkbox" id="checkbox-1" ng-model="test">Test&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="hide-user">&ndash;&gt;-->
                <!--&lt;!&ndash;<button ng-click="toggle()" class="btn btn-danger"> Hide user </button>&ndash;&gt;-->
                <!--&lt;!&ndash;<p ng-hide="hide"> this element will hide when click </p>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;<form class="form-horizontal" novalidate>&ndash;&gt;-->
                <!--&lt;!&ndash;First Name:<br>&ndash;&gt;-->
                <!--&lt;!&ndash;<input class="form-control" type="text" ng-model="user.firstName"><br>&ndash;&gt;-->
                <!--&lt;!&ndash;Last Name:<br>&ndash;&gt;-->
                <!--&lt;!&ndash;<input class="form-control" type="text" ng-model="user.lastName">&ndash;&gt;-->
                <!--&lt;!&ndash;<br><br>&ndash;&gt;-->
                <!--&lt;!&ndash;<button ng-click="reset()">RESET</button>&ndash;&gt;-->
            <!--&lt;!&ndash;</form>&ndash;&gt;-->
            <!--&lt;!&ndash;<p>form = {{ user }}</p>&ndash;&gt;-->
            <!--&lt;!&ndash;<p>master = {{ master }}</p>&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="include">&ndash;&gt;-->
                <!--&lt;!&ndash;<div ng-include="'template.html'" class="bg-success"></div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;<h2>My Note</h2>&ndash;&gt;-->
            <!--&lt;!&ndash;<p><textarea ng-model="message" cols="40" rows="10"></textarea></p>&ndash;&gt;-->
            <!--&lt;!&ndash;<p><button ng_click="save()">Save</button><button ng-click="clear()">Clear</button></p>&ndash;&gt;-->
            <!--&lt;!&ndash;<p>Number of characters left: <span ng-bind="left()"></span></p>&ndash;&gt;-->
            <!--<form class="form-horizontal" novalidate>-->
                <!--First number:<br>-->
                <!--<input class="form-control" ng-model="first" type="text"><br>-->
                <!--Last number:<br>-->
                <!--<input class="form-control" ng-model="second" type="text">-->
                <!--<br>-->
                <!--<button ng-click="calc()"> calculate </button>-->
                <!--<br><br/>-->
                <!--<input placeholder="{{ result }}" class="form-control" type="text">-->
            <!--</form>-->
            <!--&lt;!&ndash;<h2>My Todo List</h2>&ndash;&gt;-->
            <!--&lt;!&ndash;<form ng-submit="todoAdd()">&ndash;&gt;-->
                <!--&lt;!&ndash;<input type="text" ng-model="todoInput" size="50" placeholder="Add New">&ndash;&gt;-->
                <!--&lt;!&ndash;<input type="submit" value="Add New">&ndash;&gt;-->
            <!--&lt;!&ndash;</form>&ndash;&gt;-->
            <!--&lt;!&ndash;<br>&ndash;&gt;-->
            <!--&lt;!&ndash;<div ng-repeat="x in todoList">&ndash;&gt;-->
                <!--&lt;!&ndash;<input type="checkbox" ng-model="x.done"><input ng-model="editText" ng-show="x.edit" type="text" /> <span ng-bind="x.todoText"></span>&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="clearfix"></div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;<p><button ng-click="remove()">Remove marked</button><button ng-click="edit()" class="btn btn-danger" style="margin-bottom: 10px;margin-left: 10px;"> Edit </button><button ng-click="rename()" class="btn btn-danger" style="margin-bottom: 10px;margin-left: 10px;"> Rename </button></p>&ndash;&gt;-->
            <!--&lt;!&ndash;<div ng-app="myApp" ng-controller="second">&ndash;&gt;-->
                <!--&lt;!&ndash;<p class="bind" ng-bind="Name"> </p>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</div>-->

    <!--</div>-->
</div>
</div>
<script type="text/javascript" src="js/main.js"></script>
<!--<script type="text/javascript" src="js/controller.js"></script>-->
</body>
</html>